# Project Settings
PROJECT_NAME=sec-rag
API_V1_STR=/api/v1

# Security and Authentication
# Run `openssl rand -hex 32` to generate a secure secret key
JWT_SECRET=your_jwt_secret_key_here
ACCESS_TOKEN_EXPIRE_MINUTES=115200

# Relational Database Connection (PostgreSQL)
# Format: postgresql+asyncpg://user:password@host:port/dbname
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/secrag

# Vector Database Connection (Qdrant)
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=your_qdrant_api_key_here

# External AI Provider API Keys
OPENAI_API_KEY=your_openai_api_key_here
GROQ_API_KEY=your_groq_api_key_here
HF_TOKEN=your_huggingface_token_here
